<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>中医名院</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link th:href="@{/component/bootstrap-3.3.7/css/bootstrap.min.css}"
          href="../../static/component/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link th:href="@{/component/inspinia/css/plugins/sweetalert/sweetalert.css}"
          href="../../static/component/inspinia/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/component/jquery-2.2.4.js}"
            src="../../static/component/jquery-2.2.4.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/component/bootstrap-3.3.7/js/bootstrap.min.js}"
            src="../../static/component/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!--引入css样式-->
    <link th:href="@{/project/public/header.css}"
          href="../../static/project/public/header.css" rel="stylesheet">
    <link th:href="@{/project/policies_regulations/centerList.css}"
          href="../../static/project/policies_regulations/centerList.css" rel="stylesheet">
    <link th:href="@{/project/homepage/main.css}"
          href="../../static/project/homepage/main.css" rel="stylesheet">
    <style>

        .medicalTag{
            text-align: center;
            height: 35px;
            width: 100px;
            margin-left: 30px;
            position: relative;


        }
        .medicalTag a{
            background-image:url('../../static/images/home/u22.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            text-decoration: none;
            display: block;
            height: 35px;
            width: 100px;
            color: black;
            size: 70px;
            padding-top: 10px;
        }
        .medicalTag a:visited{
            background-color: chocolate;
        }
        .medicalTag a:hover {
            background-color: chocolate;
        }
        .medicalTag a:active{
            background-color: chocolate;
        }
        #container {width: 100%;}
        #photo {float: left; width: 20%;height: 90px;}
        #content {float:left;height: 90px; width: 30%;margin-bottom: 10px}
        #culproSpecialtyTitle{width:160px;}
        #culproSpecialtyText{width:160px;}
        #culproSpecialtyImg{ width: 135px;height: 90px;margin-top: 10px;margin-bottom: 10px;}
        #culproSpecialtyText a{
            text-decoration: none;
            display: block;
            color: black;
        }
        #culproSpecialtyTitle a{
            text-decoration: none;
            display: block;
            color: saddlebrown;
        }
        #form{
            width:fit-content;
            width:-moz-fit-content;
            margin: 0px auto;
        }

    </style>

</head>
<body>
    <script>
        // 城市选项
       $.getJSON('/culproSpecialties/cities',function (resp) {
           var citiesSelect = $('#citiesSelect');
           $.each(resp,function (index,city) {
               const option = new Option(city,city);
               citiesSelect.append(option)
           })
       })
        //专科选项
        $.getJSON('/culproSpecialties/departments',function (resp) {
            var departmentsSelect = $('#departmentsSelect');
            $.each(resp,function (index,department) {
                const option = new Option(department,department);
                departmentsSelect.append(option)
            })
        })

    </script>

    <!--头部-->
    <div id="header" th:include="public/header :: publicHeader"></div>
    <!--内容-->
    <div class="container-fluid">
        <div class="row clearfix">

            <div class="col-md-8 col-lg-offset-2 column " style="border-left: 1px gray solid;border-right:1px gray solid">

                <div class="row clearfix" style="margin-top: 40px">
                    <!--左边选项框-->
                    <div class="col-md-2 column">
                        <div  class="img-rounded medicalTag" >
                            <a  th:href="@{/hospitals}"   th:style="|background-image:url('/images/home/u22.png');|">中医名院</a>
                        </div><br>
                        <div  class="img-rounded medicalTag" >
                            <a class="active" th:href="@{/culproSpecialties}" th:style="|background-image:url('/images/home/u22.png');|">中医名科</a>
                        </div><br>
                        <div class="img-rounded medicalTag">
                            <a  th:href="@{/culproChineseMedicines}"  th:style="|background-image:url('/images/home/u22.png');|"> 名老中医</a>
                        </div><br><br>
                    </div>

                    <!--右边数据展示区-->
                    <div class="col-md-10 column">
                        <!--搜索框-->
                        <form class="form-inline"  id="form" th:action="@{/culproSpecialties}" method="get"  >
                            <div class="form-group ">
                                <select id="departmentsSelect" name="specialtyName">
                                    <option value="">请选择专科</option>
                                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <select id="citiesSelect" name="specialtyAddressCity">
                                    <option value="">请选择所在市</option>
                                </select>&nbsp;&nbsp;
                                <button type="submit" class="btn  " style="background-color: hsl(0, 100%, 35%);color: white;width:45px;padding:3px;border: 1px gray solid">搜索</button>
                            </div>
                        </form><br>

                        <!--内容:查询列表-->
                        <div  class="row marketing" >
                            <div class="col-lg-3" id="container">

                                <div th:each="culproSpecialty,status : ${culproSpecialtieList}">
                                    <!--对应专科图片-->
                                    <div id="photo">
                                       <a th:href="@{/culproSpecialties/detail(itemcode=${culproSpecialty.itemcode},itemid=${culproSpecialty.itemid})}">
                                           <!--<img id="culproSpecialtyImg" th:src="@{|${culproSpecialty.culproFile.filePath}|}" >-->
                                           <!--该图片路径用于演示，上面的路径是真正的文件图片路径-->
                                           <img id="culproSpecialtyImg" th:src="@{/images/medical_service/u1108.png}">
                                       </a>
                                    </div>
                                    <div id="content">
                                        <!--专科名称-->
                                        <h5 id="culproSpecialtyTitle">
                                            <a th:href="@{/culproSpecialties/detail(itemcode=${culproSpecialty.itemcode},itemid=${culproSpecialty.itemid})}" th:text="${culproSpecialty.specialtyName}"></a>
                                        </h5>
                                        <!--专科简介-->
                                        <p id="culproSpecialtyText"  style="width: 160px">
                                            <a th:href="@{/culproSpecialties/detail(itemcode=${culproSpecialty.itemcode},itemid=${culproSpecialty.itemid})}" th:text="${culproSpecialty.specialtyBriefIntroduce}"></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--分页-->
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination pagination-centered">
                        <li th:if="${culproSpecialtieList.pageNum}>1" style="margin-right: 20px;">
                            <a th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}-1)}">&lt;</a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum gt 1}" >
                            <a th:text="${culproSpecialtieList.pageNum-1}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}-1)}"></a>
                        </li>
                        <!--/* 当前页 */-->
                        <li th:if="${culproSpecialtieList.pageNum le culproSpecialtieList.pages}" th:class="${culproSpecialtieList.pageNum le culproSpecialtieList.pages ? 'active':''}">
                            <a th:text="${culproSpecialtieList.pageNum}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum+1 le culproSpecialtieList.pages}">
                            <a th:text="${culproSpecialtieList.pageNum+1}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+1)}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum+2 le culproSpecialtieList.pages}">
                            <a th:text="${culproSpecialtieList.pageNum+2}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+2)}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum+3 le culproSpecialtieList.pages}">
                            <a th:text="${culproSpecialtieList.pageNum+3}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+3)}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum+4 le culproSpecialtieList.pages}">
                            <a th:text="${culproSpecialtieList.pageNum+4}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+4)}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum+5 le culproSpecialtieList.pages}">
                            <a th:text="${culproSpecialtieList.pageNum+5}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+5)}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum+6 le culproSpecialtieList.pages}">
                            <a th:text="${culproSpecialtieList.pageNum+6}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+6)}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum+7 le culproSpecialtieList.pages}">
                            <a th:text="${culproSpecialtieList.pageNum+7}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+7)}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum+8 le culproSpecialtieList.pages}">
                            <a th:text="${culproSpecialtieList.pageNum+8}" th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+8)}"></a>
                        </li>
                        <li th:if="${culproSpecialtieList.pageNum lt culproSpecialtieList.pages}">
                            <a th:href="@{/culproSpecialties(pageNum=${culproSpecialtieList.pageNum}+1)}">&gt;</a>
                        </li>

                        <li>&nbsp;&nbsp;&nbsp;
                            <form class="form-inline" th:action="@{/culproSpecialties}"  method="get" style="float: left ;margin-left: 30px" >
                                <div class="form-group ">
                                    <select id="pageSize" name="pageSize"  style="height: 30px; border-radius: 5px">
                                        <option th:selected="${culproSpecialtieList.pageSize eq 5}" value="5">5条/页</option>
                                        <option th:selected="${culproSpecialtieList.pageSize eq 10}"  value="10">10条/页</option>
                                        <option th:selected="${culproSpecialtieList.pageSize eq 20}"  value="20">20条/页</option>
                                        <option th:selected="${culproSpecialtieList.pageSize eq 30}" value="30">30条/页</option>
                                    </select>
                                    <input name="pages" type="hidden" th:value="${culproSpecialtieList.pages}" >
                                    &nbsp;&nbsp;&nbsp;跳至&nbsp;&nbsp;&nbsp;<input  name="pageNum" type="text" class="g-input" style="height: 30px; width: 50px ;border-radius: 5px;border:1px solid">&nbsp;&nbsp;&nbsp;页
                                    <button type="submit" class="btn  " style="background-color: hsl(0, 100%, 35%);color: white;width:45px;padding:3px;border: 1px gray solid">GO</button>
                                </div>
                            </form>

                        </li>


                    </ul>
                </nav>
            </div>
            <div class="col-md-2 column">
            </div>
        </div>
    </div>
    <!--底部-->
    <div id="footer" th:include="public/footer :: publicFooter"></div>
</body>
</html>