<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.zzy.mapper.IndustrialDevelopCooExcMapper">
  <resultMap id="BaseResultMap" type="com.lanqiao.zzy.domain.IndustrialDevelopCooExc">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="COOPERATION_EXCHANGE_NAME" jdbcType="VARCHAR" property="cooperationExchangeName" />
    <result column="COOPERATION_EXCHANGE_LEADER" jdbcType="VARCHAR" property="cooperationExchangeLeader" />
    <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum" />
    <result column="PROJECT_INTRODUCE" jdbcType="VARCHAR" property="projectIntroduce" />
    <result column="CONTACTS" jdbcType="VARCHAR" property="contacts" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="COOPERATIVE_ORG" jdbcType="VARCHAR" property="cooperativeOrg" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    <result column="ORG_CODE" jdbcType="CHAR" property="orgCode" />
  </resultMap>
  
  <resultMap id="selectForHomeResultMap" type="com.lanqiao.zzy.domain.IndustrialDevelopCooExc" extends="BaseResultMap">
    <association property="organization" javaType="com.lanqiao.zzy.domain.Organization">
      <id column="itemID" jdbcType="INTEGER" property="itemid" />
      <result column="itemCode" jdbcType="CHAR" property="itemcode" />
      <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
      <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
      <result column="ORG_DESCRIPTION" jdbcType="VARCHAR" property="orgDescription" />
      <result column="ORG_IDENTIFY" jdbcType="VARCHAR" property="orgIdentify" />
      <result column="ORG_LOCATE" jdbcType="VARCHAR" property="orgLocate" />
      <result column="AUDIT_STATUS" jdbcType="VARCHAR" property="auditStatus" />
      <result column="backup2" jdbcType="VARCHAR" property="backup2" />
      <result column="LEFT" jdbcType="INTEGER" property="left" />
      <result column="RIGHT" jdbcType="INTEGER" property="right" />
      <result column="LEVEL" jdbcType="INTEGER" property="level" />
      <result column="CREATER" jdbcType="VARCHAR" property="creater" />
      <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
      <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
      <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    </association>
  </resultMap>
  
  <sql id="Base_Column_List">
    itemID, itemCode, COOPERATION_EXCHANGE_NAME, COOPERATION_EXCHANGE_LEADER, VISIT_NUM, 
    PROJECT_INTRODUCE, CONTACTS, PHONE, COOPERATIVE_ORG, `STATUS`, CREATER, itemCreateAt, 
    UPDATER, itemUpdateAt, ORG_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.lanqiao.zzy.domain.IndustrialDevelopCooExcKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_industrial_develop_coo_exc
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lanqiao.zzy.domain.IndustrialDevelopCooExcKey">
    delete from tb_industrial_develop_coo_exc
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" keyColumn="itemID" keyProperty="itemid" parameterType="com.lanqiao.zzy.domain.IndustrialDevelopCooExc" useGeneratedKeys="true">
    insert into tb_industrial_develop_coo_exc (itemCode, COOPERATION_EXCHANGE_NAME, COOPERATION_EXCHANGE_LEADER, 
      VISIT_NUM, PROJECT_INTRODUCE, CONTACTS, 
      PHONE, COOPERATIVE_ORG, `STATUS`, 
      CREATER, itemCreateAt, UPDATER, 
      itemUpdateAt, ORG_CODE)
    values (#{itemcode,jdbcType=CHAR}, #{cooperationExchangeName,jdbcType=VARCHAR}, #{cooperationExchangeLeader,jdbcType=VARCHAR}, 
      #{visitNum,jdbcType=INTEGER}, #{projectIntroduce,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{cooperativeOrg,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{itemupdateat,jdbcType=TIMESTAMP}, #{orgCode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="itemID" keyProperty="itemid" parameterType="com.lanqiao.zzy.domain.IndustrialDevelopCooExc" useGeneratedKeys="true">
    insert into tb_industrial_develop_coo_exc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="cooperationExchangeName != null">
        COOPERATION_EXCHANGE_NAME,
      </if>
      <if test="cooperationExchangeLeader != null">
        COOPERATION_EXCHANGE_LEADER,
      </if>
      <if test="visitNum != null">
        VISIT_NUM,
      </if>
      <if test="projectIntroduce != null">
        PROJECT_INTRODUCE,
      </if>
      <if test="contacts != null">
        CONTACTS,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="cooperativeOrg != null">
        COOPERATIVE_ORG,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="cooperationExchangeName != null">
        #{cooperationExchangeName,jdbcType=VARCHAR},
      </if>
      <if test="cooperationExchangeLeader != null">
        #{cooperationExchangeLeader,jdbcType=VARCHAR},
      </if>
      <if test="visitNum != null">
        #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="projectIntroduce != null">
        #{projectIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cooperativeOrg != null">
        #{cooperativeOrg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanqiao.zzy.domain.IndustrialDevelopCooExc">
    update tb_industrial_develop_coo_exc
    <set>
      <if test="cooperationExchangeName != null">
        COOPERATION_EXCHANGE_NAME = #{cooperationExchangeName,jdbcType=VARCHAR},
      </if>
      <if test="cooperationExchangeLeader != null">
        COOPERATION_EXCHANGE_LEADER = #{cooperationExchangeLeader,jdbcType=VARCHAR},
      </if>
      <if test="visitNum != null">
        VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="projectIntroduce != null">
        PROJECT_INTRODUCE = #{projectIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        CONTACTS = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cooperativeOrg != null">
        COOPERATIVE_ORG = #{cooperativeOrg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCode != null">
        ORG_CODE = #{orgCode,jdbcType=CHAR},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanqiao.zzy.domain.IndustrialDevelopCooExc">
    update tb_industrial_develop_coo_exc
    set COOPERATION_EXCHANGE_NAME = #{cooperationExchangeName,jdbcType=VARCHAR},
      COOPERATION_EXCHANGE_LEADER = #{cooperationExchangeLeader,jdbcType=VARCHAR},
      VISIT_NUM = #{visitNum,jdbcType=INTEGER},
      PROJECT_INTRODUCE = #{projectIntroduce,jdbcType=VARCHAR},
      CONTACTS = #{contacts,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      COOPERATIVE_ORG = #{cooperativeOrg,jdbcType=VARCHAR},
      `STATUS` = #{status,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      ORG_CODE = #{orgCode,jdbcType=CHAR}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>

  <!--选出最新的四条用于首页展示-->
  <select id="selectForHome" resultMap="selectForHomeResultMap">
    select
        ice.itemID,
        ice.itemCode,
        ice.COOPERATION_EXCHANGE_NAME,
        ice.COOPERATION_EXCHANGE_LEADER,
        ice.VISIT_NUM,
        ice.PROJECT_INTRODUCE,
        ice.CONTACTS,
        ice.PHONE,
        ice.COOPERATIVE_ORG,
        ice.`STATUS`,
        ice.CREATER,
        ice.itemCreateAt,
        ice.UPDATER,
        ice.itemUpdateAt,
        ice.ORG_CODE,
        o.itemID,
        o.itemCode,
        o.ORG_NAME,
        o.ORG_CODE,
        o.ORG_DESCRIPTION,
        o.ORG_IDENTIFY,
        o.ORG_LOCATE,
        o.AUDIT_STATUS,
        o.`LEFT`,
        o.`RIGHT`,
        o.`LEVEL`,
        o.CREATER,
        o.itemCreateAt,
        o.UPDATER,
        o.itemUpdateAt
    from tb_industrial_develop_coo_exc ice,organization o
    where ice.ORG_CODE = o.ORG_CODE and ice.STATUS = '展示中'
    order by ice.itemCreateAt
    limit 3
  </select>
</mapper>